<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <title>Google Picker Example :)</title>
    <script type="text/javascript" src="https://apis.google.com/js/api.js?onload=onApiLoad"></script>

    <script src="/static/js/myscripts.js" charset="utf-8"></script>
  </head>
  <body>
    <button type="button" id="auth" disabled>Authenticate</button>
    <div id="result"></div>

    <!-- The Google API Loader script. -->
  </body>
</html>
